body {
    background: #222222;
    color: #cc7711;
    font-family: Sans-Serif;
}

a {
    color: #22dd77;
    text-decoration: none;
}



.control-element {
    background: #aaaaaa;
}

.content-cell {
    font-weight: bold;
}

.content-groupLink {
    font-size: small;
}



#control-panel {
    background: #222222;
    font-weight: bold;
    border: 1px solid #666666;
}

#content-table {
    text-align: center;
}