body {
    background: #eeeeee;
    color: #dd8877;
    font-family: Sans-Serif;
}

a {
    color: #77aadd;
    text-decoration: none;
}



.control-element {
    background: #ffffff;
}

.content-cell {
    font-weight: bold;
}

.content-groupLink {
    font-size: small;
}



#control-panel {
    background: #eeeeee;
    font-weight: bold;
    border: 1px solid #666666;
}

#content-table {
    text-align: center;
}

