#main-panel {
    border-spacing: 5px;
}

#form-box {
    display: table-cell;
    vertical-align: top;
}

.input-container {
    display: table;
    width: 100%;
    font-weight: bold;
}

.centered {
    text-align: center;
    display: block;
}

label {
    display: table-cell;
    width: 100px;
}

input {
    display: table-cell;
    width: 300px;
}

#picture-box {
    display: table-cell;
}