.control-box {
    float: left;
    padding: 10px;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

.control-container {
    padding: 10px;
    display: inline-block;
}

.content-cell {
    vertical-align: top;
    padding: 5px;
    /* Don't set the content cell's padding too high, or you risk the pictures not fitting the screen horizontally. */
}

.lightboxOverlay {
    position: fixed !important;
    height: 100% !important;
    width: 100% !important;
}

.lightbox {
    position: fixed !important;
    top: 50% !important;
    transform: translateY(-50%);
}



#control-panel {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
}

#content-panel {
    margin: 100px auto;
}

#config-container {
    float: right;
}

#info-box {
    text-align: center;
}